<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style> a{
        color:inherit ;
        text-decoration: none;
        }</style>
</head>
<body>
    <div class="sidebar">
        <div class="user-info">
            <a href="{{request.base_url.split('/')[0]}}//{{request.base_url.split('/')[2]}}"><h1>ANIME SLAYER </h1></a>
        </div>
        <ul class="menu">
            <a href="{{request.base_url.split('/')[0]}}//{{request.base_url.split('/')[2]}}"><li class="menu-item"><span class="icon">🔥</span>اخر التحديثات</li></a>
            <li class="menu-item"><span class="icon">📋</span>لائحة الانمي</li>
            <li class="menu-item"><span class="icon">📅</span>المواسم</li>
            <li class="menu-item"><span class="icon">🌍</span>التقييم العالمي</li>
            <li class="menu-item"><span class="icon">📈</span>التقييم العربي</li>
            <li class="menu-item"><span class="icon">📚</span>قائمتي</li>
            <li class="menu-item"><span class="icon">❤️</span>أنمايي المفضلة</li>
        </ul>
    </div>
    <div class="content">
        <div class="header">
            <h1>اخر التحديثات</h1>
        </div>
            <div class="gallery">
                {{card_html | safe}}
            </div>
            <div class="pagination" style="text-align: center;">
                {% if page > 1 %}
                    <a href="/?page={{ page - 1 }}">&laquo; Previous</a>
                {% else %}
                    <span class="disabled">&laquo; Previous</span>
                {% endif %}
                
                {% for p in range(1, total_pages + 1) %}
                    {% if p == page %}
                        <span class="current">{{ p }}</span>
                    {% else %}
                        <a href="/?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                
                {% if page < total_pages %}
                    <a href="/?page={{ page + 1 }}">Next &raquo;</a>
                {% else %}
                    <span class="disabled">Next &raquo;</span>
                {% endif %}
            </div>
            
            
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='css/styles.css') }}"></script>
</body>
</html>
